/*
 * Global
 */

HTML, BODY{
	height:100%;
}

BODY.index{
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#cccccc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

BODY{
	font-family: 'Oswald', sans-serif;
}

/*
 * Navigation
 */
@media (min-width:768px) {
	.navbar-wrapper{
		margin-top:20px;
		position:absolute;
		top:0;
		right:0;
		left:0;
		z-index: 20;
	}
	
	.margTop{
		margin-top:90px;
	}	
}

.navbar-wrapper .navbar-inverse{
	background:rgba(0,0,0,0.7);
	border: none;
}

/*
 * Impress JS
 */
#impress{
	height:100%
}


/*
 * Slides
 */

DIV.slide{
	opacity:0.2;
	-webkit-transition:opacity 2000ms ease-out;
	-moz-transition:opacity 2000ms ease-out;
	-o-transition:opacity 2000ms ease-out;
	transition:opacity 2000ms ease-out;
}

DIV.slide.active{
	opacity:1.0;
	-webkit-transition:opacity 2000ms ease-out;
	-moz-transition:opacity 2000ms ease-out;
	-o-transition:opacity 2000ms ease-out;
	transition:opacity 2000ms ease-out;
}

DIV.slide H1{
	font-size:60px;
	text-shadow: 1px 5px 10px #666;
}

DIV.slide P{
	font-size:24px;
	font-weight:lighter;
	padding:0 0 45px 0;
}

DIV.slide LI{
	font-size:24px;
	font-weight:lighter;
}

DIV.slide A:hover SPAN{
	text-decoration:none
}

/* --- difference --- */
#thedifference{
	width:600px;
}

#thedifference IMG.imageLeft{float:left}
#thedifference IMG.imageRight{float:right}

#thedifference SPAN.middle{float:left; display:inline-block;}

/* --- thedifference_detail --- */

#thedifference_detail{
	width:400px;
}

/* --- vorundnachteile --- */
#vorundnachteile{
	width:750px;
}

#vorundnachteile .left{float:left}
#vorundnachteile .right{float:right}

#vorundnachteile UL LI{
	list-style-type:none;	
}

/* --- wasistmobil --- */
#wasistmobil{
	width:600px;
}

/*
 * Controller
 */

.controller INPUT{
	font-size:40px;
}

/*
 * Content
 */

.jumbotron{
	background:transparent;
	border: 1px solid #666;
}

DIV.row A:after{
	content:' \00BB'
}

DIV.row P{
	font-weight:lighter;
}

H1{
	text-shadow: 1px 5px 10px #666;
}

/*
 * Calendar
 */

DIV.month DIV.week DIV:nth-child(6) H2,
DIV.month DIV.week DIV:nth-child(7) H2{
	color:#999
}

DIV.empty{display:none}
	 
@media (min-width:768px){
	 DIV.empty{display:block}
	 DIV.month DIV.week DIV{
		border-right: 1px solid #999;
		border-bottom: 1px solid #999;
	}
	DIV.month DIV.week:last-child DIV{
		border-bottom:none;
	}
}

DIV.month DIV.week DIV{
	border-bottom: 1px solid #999;
	border-top: 1px solid transparent;
}

DIV.month DIV.week DIV:hover{
	background:#ccc;
	cursor:pointer;
}

DIV.month DIV.week DIV.eintragLocal{
	background:#ff00ff;
	cursor:pointer;
}

DIV.month DIV.week DIV.eintragGlobal{
	background:#00ff00;
	cursor:pointer;
}


DIV.month DIV.week{
	padding-left:15px;
	padding-right:15px;
	
}

DIV.month DIV.week DIV:nth-child(7){
	border-right:none;
}

LABEL{
	display:block
}

TEXTAREA{
	width:100%
}

/* Notizen */
P.notice{
cursor:pointer;
}
P.notice:hover{
text-decoration:underline
}

