/*
 * Global
 */

HTML, BODY{
	height:100%,
}

BODY{
	background: #eeeeee; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	font-family: 'Oswald', sans-serif;
}

/*
 * Navigation
 */
@media (min-width:768px) {
	.navbar-wrapper{
		margin-top:20px;
		position:absolute;
		top:0;
		right:0;
		left:0;
		z-index: 20;
	}	
}

.navbar-wrapper .navbar-inverse{
	background:rgba(0,0,0,0.7);
	border: none;
}

/*
 * Impress JS
 */
#impress{
	height:100%
}


/*
 * Slides
 */

DIV.slide{
	opacity:0.2;
	-webkit-transition:opacity 2000ms ease-out;
	-moz-transition:opacity 2000ms ease-out;
	-o-transition:opacity 2000ms ease-out;
	transition:opacity 2000ms ease-out;
}

DIV.slide.active{
	opacity:1.0;
	-webkit-transition:opacity 2000ms ease-out;
	-moz-transition:opacity 2000ms ease-out;
	-o-transition:opacity 2000ms ease-out;
	transition:opacity 2000ms ease-out;
}


/* --- difference --- */
#thedifference{
	width:600px;
}

#thedifference H1{
	font-weight:bold;
	font-size:50px;
}

#thedifference P{
	font-size:24px;
	font-weight:lighter
}

#thedifference IMG.imageLeft{float:left}
#thedifference IMG.imageRight{float:right}

#thedifference SPAN.middle{float:left; display:inline-block;}

/* --- thedifference_detail --- */

#thedifference_detail{
	width:400px;
}

#thedifference_detail H1{
	font-size:60px;
}

#thedifference_detail P{
	font-size:24px;
	font-weight:lighter
}

/* --- vorundnachteile --- */
#vorundnachteile{
	width:750px;
}

#vorundnachteile .left{float:left}
#vorundnachteile .right{float:right}

#vorundnachteile H1{
	font-size:60px;
}
	
#vorundnachteile UL{
	font-size:24px;
	font-weight:lighter;
}

#vorundnachteile UL LI{
	list-style-type:none;	
}








