<!DOCTYPE html>
<!--<html lang="de" manifest="offline.appcache">-->
<html ng-app="eu_app">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!--<meta name="viewport" content="width=device-width; initial-scale=1"/>-->
        <title>Präsentation WebApp</title>

        <!-- Bootstrap einbinden -->
        <link href="../bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        
        <!-- eigenes CSS einbinden -->
        <link href="../css/style.css" rel="stylesheet" />
        
        <!-- jQuery einbinden -->
        <script src="../js/jquery/1.11.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../bootstrap-3.1.1/js/bootstrap.min.js"></script>
        
        <!-- HTML5 Shim und Respond.js einbinden -->
        <!-- HTML5 und Responive-Unterstützung für Internetexplorer kleiner als IE9 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Custom StyleSheet -->
<link href="../css/fonts.css" rel="stylesheet" />
<link href="../css/custom.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="index">

        <div class="navbar-wrapper">
                <div class="container">
                <!-- Navigation - START -->
                <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container-fluid">
                                <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                <span class="sr-only">Navigation</span>	
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                        </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav navbar-left">
                                                <li><a href="#">EU Staaten</a></li>
                                                <li><a href="#">Link</a></li>
                                                <li><a href="#">Link</a></li>
                                        </ul>
                                </div>
                        </div>
                </nav>
                <!-- Navigation - ENDE -->
        </div>
        </div>

        <div class="container">

            <div class="jumbotron margTop jumbotronCustom">
                
                <h1>EU Staaten*</h1>
                <p>Eine Übersicht</p>

            </div>	

        </div>

    <div class="container">

        <ul class="eu_list" ng-controller="countrieCtrl">

            <li ng-repeat="eucountrie in eucountries | filter:search">
                <h2><span class="title">{{eucountrie.name}}</span><span class="thumb"><img class="flagThumb" src="{{eucountrie.image}}" alt="{{eucountrie.name}}" title="{{eucountrie.name}}" /></span></h2>
                <p class="inner">

                    <span class="wrap">
                        <span><strong>Hauptstadt: </strong>{{eucountrie.hauptstadt}}</span>
                        <span><strong>Fläche: </strong>{{eucountrie.flaeche}} km<sup>2</sup></span>
                        <span><strong>Einwohner: </strong>{{eucountrie.einwohner}}</span> 
                        <span><a class="more" href="template_detail.html">Mehr Informationen</a></span> 
                    </span>

                    <img class="flag" src="{{eucountrie.image}}" alt="{{eucountrie.name}}" title="{{eucountrie.name}}" />

                </p>
            </li>

        </ul>

    </div>

    <script src="../js/angular/1.3.0/angular.js"></script>
    <script>
        
        $(document).ready(function(){
           
           // Accordion
           // Verzögerung beim Klick bei ios
           // https://forum.jquery.com/topic/how-to-remove-the-300ms-delay-when-clicking-on-a-link-in-jquery-mobile
           $(document).on('click', 'H2.listHead', function(){
               $(this).next('P.inner').slideToggle('fast');
               $(this).toggleClass('hideThumb');
           });
           
           // Fenstergröße überwachen
           function setHeaderClass(width,value){
               if(width < value){
                   $('H2').addClass('listHead');
               } else {
                   $('H2').removeClass('listHead');
                   $('H2').removeClass('hideThumb');
                   $('P.inner').removeAttr('style');
               }
           }
           
           setHeaderClass(window.innerWidth,580);
           
           $(window).resize(function(){
               setHeaderClass(window.innerWidth,580);
           });
            
        });

        // AngularJS
        'use strict';
        
        // Daten für Controller
        angular.module('eu_app', [])
          .controller('countrieCtrl', function($scope){
            $scope.eucountries = [
              {name: 'Belgien', image: '../img/flaggen/belgien.png', hauptstadt: 'Brüssel', flaeche: '30.528', einwohner: '11.035.948' },
              {name: 'Bulgarien', image: '../img/flaggen/bulgarien.png', hauptstadt: 'Sofia', flaeche: '110.994', einwohner: '7.364.570' },
              {name: 'Dänemark', image: '../img/flaggen/denmark.png', hauptstadt: 'Kopenhagen', flaeche: '43.094', einwohner: '5.627.235' },
              {name: 'Deutschland', image: '../img/flaggen/germany.png', hauptstadt: 'Berlin', flaeche: '357.167', einwohner: '80.716.000' },
              {name: 'Estland', image: '../img/flaggen/estland.png', hauptstadt: 'Tallinn', flaeche: '45.227', einwohner: '1.286.479' },
              {name: 'Finnland', image: '../img/flaggen/finnland.png', hauptstadt: 'Helsinki', flaeche: '338.432', einwohner: '5.429.894' },
              {name: 'Frankreich', image: '../img/flaggen/frankreich.png', hauptstadt: 'Paris', flaeche: '668.763', einwohner: '65.820.916' },
              {name: 'Griechenland', image: '../img/flaggen/griechenland.png', hauptstadt: 'Athen', flaeche: '131.957', einwohner: '10.815.197' },
              {name: 'Irland', image: '../img/flaggen/irland.png', hauptstadt: 'Dublin', flaeche: '70.182', einwohner: '4.581.269' },
              {name: 'Italien', image: '../img/flaggen/italien.png', hauptstadt: 'Rom', flaeche: '301.338', einwohner: '60.782.668' },
              
              {name: 'Kroatien', image: '../img/flaggen/kroatien.png', hauptstadt: 'Zagreb', flaeche: '56.542', einwohner: '4.284.889' },
              {name: 'Lettland', image: '../img/flaggen/lettland.png', hauptstadt: 'Riga', flaeche: '64.589', einwohner: '1.997.500' },
              {name: 'Litauen', image: '../img/flaggen/litauen.png', hauptstadt: 'Vilnius', flaeche: '65.300', einwohner: '2.930.865' },
              {name: 'Luxemburg', image: '../img/flaggen/luxemburg.png', hauptstadt: 'Luxemburg', flaeche: '2.586', einwohner: '549.680' },
              {name: 'Malta', image: '../img/flaggen/malta.png', hauptstadt: 'Valetta', flaeche: '316', einwohner: '417.608' },
              {name: 'Niederlande', image: '../img/flaggen/niederlande.png', hauptstadt: 'Amsterdam', flaeche: '42.508', einwohner: '16.911.727' },
              {name: 'Österreich', image: '../img/flaggen/austria.png', hauptstadt: 'Wien', flaeche: '83.878,99', einwohner: '8.507.786' },
              {name: 'Polen', image: '../img/flaggen/polen.png', hauptstadt: 'Warschau', flaeche: '312.679', einwohner: '38.485.779' },
              {name: 'Portugal', image: '../img/flaggen/portugal.png', hauptstadt: 'Lissabon', flaeche: '92.212', einwohner: '10.602.000' },
              {name: 'Rumänien', image: '../img/flaggen/romania.png', hauptstadt: 'Bukarest', flaeche: '238.391', einwohner: '20.121.641' },
              
              {name: 'Schweden', image: '../img/flaggen/schweden.png', hauptstadt: 'Stockholm', flaeche: '438.575', einwohner: '9.573.466' },
              {name: 'Slowakei', image: '../img/flaggen/slowakei.png', hauptstadt: 'Bratislava', flaeche: '49.034', einwohner: '5.415.949' },
              {name: 'Slowenien', image: '../img/flaggen/slowenien.png', hauptstadt: 'Ljubljana', flaeche: '20.273', einwohner: '2.061.085' },
              {name: 'Spanien', image: '../img/flaggen/spanien.png', hauptstadt: 'Madrid', flaeche: '504.645', einwohner: '46.609.652' },
              {name: 'Tschechien', image: '../img/flaggen/tschechien.png', hauptstadt: 'Prag', flaeche: '78.864', einwohner: '10.517.400' },
              {name: 'Ungarn', image: '../img/flaggen/ungarn.png', hauptstadt: 'Budapest', flaeche: '93.036', einwohner: '9.908.798' },
              {name: 'Vereinigtes Königreich', image: '../img/flaggen/uk.png', hauptstadt: 'London', flaeche: '244.820', einwohner: '63.705.000' },
              {name: 'Zypern', image: '../img/flaggen/zypern.png', hauptstadt: 'Nicosia', flaeche: '5.896', einwohner: '885.041' }
            ];
          });
        
    </script>
  
</body>
</html>